<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name | uppercase}}</div>

<div>
	<label for="name">Hero name: </label>
	<input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>